<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527396309507-9f9qiookknb6r2rfr35dnmj8l9po1tco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527396309507-9f9qiookknb6r2rfr35dnmj8l9po1tco</string>
	<key>API_KEY</key>
	<string>AIzaSyBze67w3eswfZcJ43Pvo2bGW7F9I1Qvx_k</string>
	<key>GCM_SENDER_ID</key>
	<string>527396309507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cryptanna.CryptannaReact</string>
	<key>PROJECT_ID</key>
	<string>cryptanna-6890c</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptanna-6890c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527396309507:ios:21012410691701ef</string>
	<key>DATABASE_URL</key>
	<string>https://cryptanna-6890c.firebaseio.com</string>
</dict>
</plist>